.home {
  min-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: 2px solid teal;
  margin: auto;
  border-radius: 5px;
  flex-direction: column;
}

.home h1 {
  margin-bottom: 0;
}

.info-student {
  font-size: 20px;
  color: teal;
  font-weight: bold;
  margin-bottom: 0;
}
