.card {
  width: 80%;
  background: white;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.card button {
  width: 80%;
  border: 1px solid black;
  margin: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 0;
}
